*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: linear-gradient(90deg, #edf0fb 31px, transparent 1px) 50%, linear-gradient(180deg, #edf0fb 31px, #335DFF 1px) 50%;
    background-size: 32px 32px;
    color: #222;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .logo{
    font-size: 36px;
    color: #252d3a;
    font-family: Ubisoft Sans;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .logout .btn-logout{
    background: transparent;
    width: 105px;
    height: 25px;
    left: 0;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  .btn-logout .btn-text{
      font-family: Ubisoft Sans;
      font-size: 20px;
      font-weight: 400;
      width: 400px;
  }
  .btn-logout img{
    width: 23px;
    height: 23px;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 80px 50px;
    background: rgba(37,45,58,255);
    z-index: 9;
  }
  
  .sidebar .btn-halaman-utama{
    top: 80px;
    left: 0px;
    width: 300px;
    height: 80px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: #0e151d;
    border: none;
  }
  .btn-halaman-utama .halaman-utama{
    top: 40px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-halaman-utama img{
    top: 40px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-profil{
    top: 160px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-profil:hover{
    background: #005580;
  }
  .btn-profil .profil{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-profil img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-pemberitahuan{
    top: 220px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-pemberitahuan:hover{
    background: #005580;
  }
  .btn-pemberitahuan .pemberitahuan{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-pemberitahuan img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-presensi{
    top: 280px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-presensi:hover{
    background: #005580;
  }
  .btn-presensi .presensi{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-presensi img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-jadwal-kuliah{
    top: 340px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-jadwal-kuliah:hover{
    background: #005580;
  }
  .btn-jadwal-kuliah .jadwal-kuliah{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-jadwal-kuliah img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-tugas{
    top: 400px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-tugas:hover{
    background: #005580;
  }
  .btn-tugas .tugas{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-tugas img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-konsultasi{
    top: 460px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-konsultasi:hover{
    background: #005580;
  }
  .btn-konsultasi .konsultasi{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-konsultasi img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-rhs{
    top: 520px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-rhs:hover{
    background: #005580;
  }
  .btn-rhs .rhs{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-rhs img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-biaya-kuliah{
    top: 580px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-biaya-kuliah:hover{
    background: #005580;
  }
  .btn-biaya-kuliah .biaya-kuliah{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-biaya-kuliah img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .container{
    position: absolute;
    top: 80px;
    left: 300px;
    width: 1030px;
    height: auto;
    align-items: center;
    display: flex;
  }

  .title-text{
    top: 55px;
    left: 100px;
    color: #252d3a;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    width: 1030px;
  }

  .pemisah{
    width: 100%;
    height: 1px;
    display: block;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: 10px;
  }

  .btn-profil-cnt{
    top: 140px;
    left: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .profil-cnt{
    top: 125px;
    left: 73px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran1{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .user-biru{
    top: 26px;
    left: 57px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-profil-cnt:hover .user-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.btn-pemberitahuan-cnt{
    top: 140px;
    left: 380px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .pemberitahuan-cnt{
    top: 125px;
    left: 17px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran2{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .ringing-biru{
    top: 26px;
    left: 57px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-pemberitahuan-cnt:hover .ringing-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

  .btn-presensi-cnt{
    top: 140px;
    left: 655px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .presensi-cnt{
    top: 125px;
    left: 56px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran3{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .clipboard-biru{
    top: 26px;
    left: 57px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-presensi-cnt:hover .clipboard-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

  .btn-jadwal-kuliah-cnt{
    top: 140px;
    left: 930px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .jadwal-kuliah-cnt{
    top: 125px;
    left: 25px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran4{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .calendar-biru{
    top: 26px;
    left: 57px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-jadwal-kuliah-cnt:hover .calendar-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

  .btn-tugas-cnt{
    top: 400px;
    left: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .tugas-cnt{
    top: 125px;
    left: 67px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran5{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .note-biru{
    top: 26px;
    left: 67px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-tugas-cnt:hover .note-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

  .btn-konsultasi-cnt{
    top: 400px;
    left: 380px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .konsultasi-cnt{
    top: 125px;
    left: 45px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran6{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .chat-biru{
    top: 26px;
    left: 55px;
    width: 90px;
    height: 86px;
    position: absolute;
  }
  .btn-konsultasi-cnt:hover .chat-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

  .btn-rhs-cnt{
    top: 400px;
    left: 655px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .rhs-cnt{
    top: 125px;
    left: 8px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran7{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .grade-biru{
    top: 26px;
    left: 57px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-rhs-cnt:hover .grade-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

  .btn-biaya-kuliah-cnt{
    top: 400px;
    left: 930px;
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease-in-out;
  }
  .biaya-kuliah-cnt{
    top: 125px;
    left: 34px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .lingkaran8{
    top: 20px;
    left: 49px;
    width: 102px;
    height: 99px;
    position: absolute;
  }
  .card-biru{
    top: 26px;
    left: 57px;
    width: 86px;
    height: 86px;
    position: absolute;
  }
  .btn-biaya-kuliah-cnt:hover .card-biru{
    animation: shake 0.5s;
    transform: scale(1.1) rotate(-5deg);
  }
  @keyframes shake {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.minimize{
  cursor: pointer;
  position: absolute;
  right: -35px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #000000;
  width: max-content;
  width: 35px;
  height: 33px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: rgba(255,184,0,255);
}

.sidebar.small{
  width: 80px;
}

.sidebar.small .btn-halaman-utama{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-halaman-utama .halaman-utama{
  display: none;
}

.sidebar.small .btn-profil{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-profil .profil{
  display: none;
}

.sidebar.small .btn-pemberitahuan{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-pemberitahuan .pemberitahuan{
  display: none;
}

.sidebar.small .btn-presensi{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-presensi .presensi{
  display: none;
}

.sidebar.small .btn-jadwal-kuliah{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-jadwal-kuliah .jadwal-kuliah{
  display: none;
}

.sidebar.small .btn-tugas{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-tugas .tugas{
  display: none;
}

.sidebar.small .btn-konsultasi{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-konsultasi .konsultasi{
  display: none;
}

.sidebar.small .btn-rhs{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-rhs .rhs{
  display: none;
}

.sidebar.small .btn-biaya-kuliah{
  display: flex;
  flex-direction: column;
  left:-15px;
  width: 115px;
}
.sidebar.small .btn-biaya-kuliah .biaya-kuliah{
  display: none;
}

@media (max-width: 600px) {
  .container {
    left: 115px;
    width: 350px;
    transition: 0.7s;
  }

  .title-text {
    left: 0;
    width: 100%;
    text-align: center;
  }

  .btn-profil-cnt{
    top: 150px;
    left: 75px;
  }

  .btn-pemberitahuan-cnt{
    top: 360px;
    left: 75px;
  }

  .btn-presensi-cnt{
    top: 570px;
    left: 75px;
  }

  .btn-jadwal-kuliah-cnt{
    top: 780px;
    left: 75px;
  }

  .btn-tugas-cnt{
    top: 990px;
    left: 75px;
  }

  .btn-konsultasi-cnt{
    top: 1200px;
    left: 75px;
  }

  .btn-rhs-cnt{
    top: 1410px;
    left: 75px;
  }

  .btn-biaya-kuliah-cnt{
    top: 1620px;
    left: 75px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    left: 150px;
    width: 730px;
    transition: 0.7s;
  }

  .title-text {
    left: 0;
    width: 100%;
    text-align: left;
  }

  .btn-profil-cnt{
    top: 140px;
    left: 40px;
  }

  .btn-pemberitahuan-cnt{
    top: 140px;
    left: 300px;
  }

  .btn-presensi-cnt{
    top: 390px;
    left: 40px;
  }

  .btn-jadwal-kuliah-cnt{
    top: 390px;
    left: 300px;
  }

  .btn-tugas-cnt{
    top: 630px;
    left: 40px;
  }

  .btn-konsultasi-cnt{
    top: 630px;
    left: 300px;
  }

  .btn-rhs-cnt{
    top: 870px;
    left: 40px;
  }

  .btn-biaya-kuliah-cnt{
    top: 870px;
    left: 300px;
  }
}

@media (min-width: 1025px){
  .container{
    transition: 0.7s;
  }
}