*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: linear-gradient(90deg, #edf0fb 31px, transparent 1px) 50%, linear-gradient(180deg, #edf0fb 31px, #335DFF 1px) 50%;
    background-size: 32px 32px;
    color: #222;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .logo{
    font-size: 36px;
    color: #252d3a;
    font-family: Ubisoft Sans;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .logout .btn-logout{
    background: transparent;
    width: 105px;
    height: 25px;
    left: 0;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  .btn-logout .btn-text{
      font-family: Ubisoft Sans;
      font-size: 20px;
      font-weight: 400;
      width: 400px;
  }
  .btn-logout img{
    width: 23px;
    height: 23px;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 80px 50px;
    background: rgba(37,45,58,255);
    z-index: 9;
  }

  .sidebar .btn-halaman-utama{
    top: 80px;
    left: 0px;
    width: 300px;
    height: 80px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-halaman-utama:hover{
    background: #005580;
  }
  .btn-halaman-utama .halaman-utama{
    top: 40px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-halaman-utama img{
    top: 40px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-profil{
    top: 160px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-profil:hover{
    background: #005580;
  }
  .btn-profil .profil{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-profil img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-pemberitahuan{
    top: 220px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-pemberitahuan:hover{
    background: #005580;
  }
  .btn-pemberitahuan .pemberitahuan{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-pemberitahuan img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-presensi{
    top: 280px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-presensi:hover{
    background: #005580;
  }
  .btn-presensi .presensi{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-presensi img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-jadwal-kuliah{
    top: 340px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-jadwal-kuliah:hover{
    background: #005580;
  }
  .btn-jadwal-kuliah .jadwal-kuliah{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-jadwal-kuliah img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-tugas{
    top: 400px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border: none;
    background: #0e151d;
  }
  .btn-tugas .tugas{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-tugas img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-konsultasi{
    top: 460px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-konsultasi:hover{
    background: #005580;
  }
  .btn-konsultasi .konsultasi{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-konsultasi img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-rhs{
    top: 520px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-rhs:hover{
    background: #005580;
  }
  .btn-rhs .rhs{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-rhs img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .sidebar .btn-biaya-kuliah{
    top: 580px;
    left: 0px;
    width: 300px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background: none;
    border: none;
    transition: 0.4s ease;
  }
  .btn-biaya-kuliah:hover{
    background: #005580;
  }
  .btn-biaya-kuliah .biaya-kuliah{
    top: 20px;
    left: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .btn-biaya-kuliah img{
    top: 20px;
    left: 55px;
    width: 23px;
    height: 23px;
    position: absolute;
  }

  .container{
    position: absolute;
    top: 80px;
    left: 300px;
    width: 1030px;
    height: auto;
    align-items: center;
    display: flex;
    padding-bottom: 850px;
  }

  .title-text{
    top: 55px;
    left: 100px;
    color: #252d3a;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    width: 1030px;
  }

  .pemisah{
    width: 100%;
    height: 1px;
    display: block;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: 10px;
  }

  .task {
    top: 120px;
    left: 100px;
    width: 1030px;
    height: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-radius: 50px;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  }

  .accordion{
    margin: 25px auto;
    width: 975px;
  }

  .accordion li{
    list-style: none;
    margin: 18px;
    padding: 10px;
    border-radius: 25px;
    background: rgba(233,233,242,255);
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  }

  .accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family: Ubisoft Sans;
    color: #252d3a;;
  }

  label::before{
    content: url(icon/tutup.png);
    margin-right: 10px;
    font-size: 35px;
  }

  input[type="radio"]{
    display: none;
  }

  .accordion .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    font-family: Ubisoft Sans;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  
  .accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
  }

  .accordion input[type="radio"]:checked + label::before{
    content: url(icon/buka.png);
  }

  .minimize{
    cursor: pointer;
    position: absolute;
    right: -35px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #000000;
    width: max-content;
    width: 35px;
    height: 33px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-color: rgba(255,184,0,255);
  }
  
  .sidebar.small{
    width: 80px;
  }
  
  .sidebar.small .btn-halaman-utama{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-halaman-utama .halaman-utama{
    display: none;
  }
  
  .sidebar.small .btn-profil{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-profil .profil{
    display: none;
  }
  
  .sidebar.small .btn-pemberitahuan{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-pemberitahuan .pemberitahuan{
    display: none;
  }
  
  .sidebar.small .btn-presensi{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-presensi .presensi{
    display: none;
  }
  
  .sidebar.small .btn-jadwal-kuliah{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-jadwal-kuliah .jadwal-kuliah{
    display: none;
  }
  
  .sidebar.small .btn-tugas{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-tugas .tugas{
    display: none;
  }
  
  .sidebar.small .btn-konsultasi{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-konsultasi .konsultasi{
    display: none;
  }
  
  .sidebar.small .btn-rhs{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-rhs .rhs{
    display: none;
  }
  
  .sidebar.small .btn-biaya-kuliah{
    display: flex;
    flex-direction: column;
    left:-15px;
    width: 115px;
  }
  .sidebar.small .btn-biaya-kuliah .biaya-kuliah{
    display: none;
  }

  @media (max-width: 600px) {
    .container {
      left: 115px;
      width: 350px;
      transition: 0.3s;
    }
  
    .title-text {
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .task {
      top: 125px;
      left: 0;
      width: 100%;
      font-size: 70%;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .container {
      left: 150px;
      width: 730px;
      transition: 0.3s;
    }
  
    .title-text {
      left: 0;
      width: 100%;
      text-align: left;
    }
  
    .task {
      top: 125px;
      left: 0;
      width: 100%;
    }
  }

  @media (min-width: 1025px){
    .container{
      transition: 0.3s;
    }
  }